#sidebar {
  @apply flex flex-col justify-center p-4 gap-4;
  overflow-y: hidden;
  width: 40vw;
  height: 100%;
  border: 4px solid rgba(128, 128, 128, 0.15);
  background-color: #e2dac7;
}

.side-bar-header {
  @apply text-3xl;
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  position: relative;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

.side-bar-subheading {
  @apply text-xl;
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  margin: 0px;
}
