#sidebar {
  width: 40vw;
  height: 100vh;
  display: block;
  border: 4px solid rgba(128, 128, 128, 0.15);
  background-color: #E2DAC7;
}

.side-bar-header {
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  position: relative;
  margin-left: 3%;
}

.side-bar-subheading {
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  margin-top: 1%;
}

#stats-block {
  height: 35vh;
  width: 35vw;
  border-style: solid;
  border-color: #ebe8d4;
  border-radius: 15px;
  background-color: #fdf7dd;
  position: relative;
  left: 5%;
  top: -12px;

  /* Use flexbox to evenly distribute elements */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* Ensures equal spacing */
  align-items: center;
}
