#sidebar {
  width: 40vw;
  height: 100vh;
  display: block;
  border: 4px solid rgba(128, 128, 128, 0.15);
  background-color: #e2dac7;
}

.side-bar-header {
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  position: relative;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

.side-bar-subheading {
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  margin: 0px;
}
