body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

#header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  height: 18vh;
  background-color: #5A2619;
  align-items: center;
  color: #FDF7DD;
}

#content {
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: space-evenly;
    flex-direction: row;
}

#summary-text-box {
    width: 60%;
    position: relative;
    top: 10%;
    background-color: #FDF7DD;
    border-radius: 5%;
}
  
#banner-text {
  font-size: 50px;
  font-family: "Pixelify Sans";
  color: white;
}
  
.blurb-text {
    font-size: 20px;
    position: absolute;
    color: black;
    font-family: "Pixelify Sans";
}

#text-header {
  position: absolute;
  top: 2%;
}

#text-position {
  position: absolute;
  top: 10%;
}