#stats {
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#stats-block {
  width: 100%;
  border-style: solid;
  border-radius: 15px;
  background-color: #fdf7dd;
  position: relative;

  /* Use flexbox to evenly distribute elements */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0px;
}

.stats-bar {
  width: 100%;
  position: relative;
  padding: 0px 20px;
}

.stats-bar-fill {
  height: 3vh;
  width: 5vw;
  border-style: solid;
  border-radius: 5px;
}

progress.academics {
  @apply border-blue-dark;
}

progress.social-life {
  @apply border-red-dark;
}

progress.energy {
  @apply border-yellow-dark;
}

progress.mental-health {
  @apply border-green-dark;
}

progress {
  transition: value 0.3s ease-out;
  border-width: 4px;
}

/* Webkit specific styles for progress bars */
progress::-webkit-progress-value {
  transition: width 0.3s ease-out;
}

.sb-academics::-webkit-progress-value {
  background-color: #9fbfd6;
  transition: width 0.3s ease-out;
}

.sb-social-life::-webkit-progress-value {
  background-color: #e7c5ce;
  transition: width 0.3s ease-out;
}

.sb-energy::-webkit-progress-value {
  background-color: #f6e36b;
  transition: width 0.3s ease-out;
}

.sb-mental-health::-webkit-progress-value {
  background-color: #72a19b;
  transition: width 0.3s ease-out;
}

.sb-academics::-webkit-progress-bar {
  background-color: #ebe8d4;
  border-color: #4d799b;
}

.sb-social-life::-webkit-progress-bar {
  background-color: #ebe8d4;
  border-color: #a1544a;
}

.sb-energy::-webkit-progress-bar {
  background-color: #ebe8d4;
  border-color: #b98d35;
}

.sb-mental-health::-webkit-progress-bar {
  background-color: #ebe8d4;
  border-color: #4d675c;
}

.sb-social-life::-webkit-progress-bar {
  background-color: #ebe8d4;
  border-color: #a1544a;
}

.sb-energy::-webkit-progress-bar {
  background-color: #ebe8d4;
  border-color: #b98d35;
}

.sb-mental-health::-webkit-progress-bar {
  background-color: blue;
  background-color: #ebe8d4;
  border-color: #4d675c;
}

/* Firefox specific styles */
progress::-moz-progress-value {
  transition: width 0.3s ease-out;
}

.sb-academics::-moz-progress-value {
  background-color: #cd4141;
  transition: width 0.3s ease-out;
}

.sb-social-life::-moz-progress-value {
  background-color: #5ed375;
  transition: width 0.3s ease-out;
}

.sb-energy::-moz-progress-value {
  background-color: #81beff;
  transition: width 0.3s ease-out;
}

.sb-mental-health::-moz-progress-value {
  background-color: blue;
  transition: width 0.3s ease-out;
}

.sb-academics::-moz-progress-bar {
  background-color: #ffffff;
  /* background-color: #ffffff; */
  border-color: #cd4141;
}

.sb-social-life::-moz-progress-bar {
  background-color: #ffffff;
  border-color: #5ed375;
}

.sb-energy::-moz-progress-bar {
  background-color: #ffffff;
  border-color: #81beff;
}

.sb-mental-health::-moz-progress-bar {
  background-color: blue;
  border-color: #a97ec5;
}

.stats-score {
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  position: absolute;
  top: 70%;
  right: 5%;
  transform: translateY(-50%);
}

#stats progress {
  flex-grow: 1;
  display: inline-block;
}

#stats::-webkit-progress-bar {
  -webkit-appearance: none;
}

#stats label {
  display: inline-block;
  font-size: 20px;
}

.progress-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@keyframes flash-red {
  0% {
    color: initial;
  }
  50% {
    color: red;
  }
  100% {
    color: initial;
  }
}

@keyframes flash-red-bg {
  0% {
    background-color: initial;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: initial;
  }
}

.flash-warning {
  animation: flash-red 1.5s infinite ease-in-out;
}

flash-warning::-moz-progress-value,
flash-warning::-webkit-progress-value {
  animation: flash-red-bg 1.5s infinite ease-in-out;
}
