.task-list {
  overflow-y: scroll;
}

.task-list,
.tasks-container {
  height: 100%;
}

.task-block-container {
  border-radius: 10px;
  height: auto;
  min-height: 80px;
  background-color: white;
  border: 4px solid rgba(128, 128, 128, 0.15);
  transition:
    transform 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
}

.task-block {
  border-radius: 5px;
  padding: 20px;
}

.task-block h2 {
  padding: 0;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
}

.task-block p {
  padding: 0;
  font-size: 20px;
  letter-spacing: 0.05em;
  font-family: "Open Sans", sans-serif;
}

.task-block-container:hover:not(.disabled) {
  transform: scale(0.98);
  cursor: grab;
  border-color: white;
}

.task-block-container:active:not(.disabled) {
  @apply shadow-xl;
  transform: scale(1.02);
  cursor: grabbing;
}

.dragging .hideable,
.task-block-container:active .hideable {
  display: none !important;
}

.type-academic {
  @apply border-blue-dark bg-blue;
}

.type-academic.disabled {
  @apply border-blue-dark bg-blue-disabled;
}

.type-social {
  @apply border-red-dark bg-red;
}

.type-social.disabled {
  @apply border-red-dark bg-red-disabled;
}

.type-energy {
  @apply border-yellow-dark bg-yellow;
}

.type-energy.disabled {
  @apply border-yellow-dark bg-yellow-disabled;
}

.type-mental {
  @apply border-green-dark bg-green;
}

.type-mental.disabled {
  @apply border-green-dark bg-green-disabled;
}

@keyframes flashing {
  0% {
    background-color: inherit;
  }
  50% {
    @apply bg-white/75;
  }
  100% {
    background-color: inherit;
  }
}

.task-block-container:not(.disabled) .task-block.flashing {
  animation: flashing 2.1s infinite ease-in-out;
}

.dragging {
  opacity: 95%;
  position: absolute;
  pointer-events: none;
  z-index: 1000;
}

.dragging.invalid {
  border: dashed red 4px !important;
  background-color: lightgray;
}

.dragging.invalid * {
  background-color: inherit;
  animation: none;
}
