.tutorial {
  position: absolute;
  z-index: 9999;

  width: 100vw;
  height: 100vh;

  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  background-color: rgba(125, 120, 109, 0.9);
}

.tutorial *,
.tutorial *::after,
.tutorial *::before {
  box-sizing: border-box;
}

.tutorial-button {
  background: none;
  border: none;

  color: white;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 2rem;
}

.tutorial-button:hover {
  cursor: pointer;
}
