body {
  margin: 0;
}

.tutorial {
  width: 100vw;
  height: 100vh;

  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.tutorial *,
.tutorial *::after,
.tutorial *::before {
  box-sizing: border-box;
}

.tutorial-button {
  background: none;
  border: none;
}

#tutorial-image {
}
